
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#board{
  max-width: 800px;
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 4px;
  background-color: rgb(0, 166, 255);
  outline: 2px dotted rgba(255, 0, 0, 0.377);
}

@media (max-width: 1024px) {
  #board{
    width: 80vw;
    margin: 20px;
    aspect-ratio: 1/1;
  }
}

.square{
  background-color: #7eceff;
  border: none;
  border-radius: 5%;
  aspect-ratio: 1/1;
}

.icon{
  width: 60%;
  height: 60%;
  aspect-ratio: 1/1;
  color: white;
  filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.559)) drop-shadow(-3px -3px rgba(0, 0, 0, 0.565));
}

.status{
  color: cadetblue;
  margin: 16px;
}

.panel{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.reset-btn{
  background-color: rgba(255, 0, 0, 0.338);
}

.history-btn{
  background-color: rgba(0, 123, 255, 0.338);
}

.btn{
  padding: 6px;
  border-radius: 4px;
  font-weight: bold;
}


.winner-squares{
  background-color: #52c162;
  color: #fff;
}